* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    color: #bbb;
}

body {
    font-family: Arial, sans-serif;
}

button {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo-cat {
    width: 500px;
    height: 475px;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-cat__header {
    text-align: center;
    font-weight: normal;
}

.todo-cat__max-list-limit-msg {
    text-align: center;
    display: none;
}

.todo-cat__add-new {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.todo-cat__add-new-input {
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #000;
    padding: 2px 5px;
    font-size: 12px;
}

.todo-cat__list {
    list-style: none;
}

.todo-cat__list-item {
    display: flex;
    align-items: center;
    cursor: move;
    margin-bottom: 5px;
}

.todo-cat__remove-item {
    margin-left: auto;
}

.todo-cat__footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}

.todo-cat__paw-img {
    width: 50px;
    height: 50px;
}