$fontFamily: sans-serif;

$contentBackground: white;
$cardBackground: #efefef;

$primaryColor: #1fbcd3;

$cardHeader: #1697a6;
$lineColor: #617d8a;
$postDescription: #159587;
$paragraphColor: #617d8a;

$formColor: #757575;