$fontFamily: serif;

$contentBackground: #efefef;
$cardBackground: white;

$primaryColor: #fc5830;

$cardHeader: #617d8a;
$lineColor: #617d8a;
$postDescription: #bfbfbf;
$paragraphColor: #757575;

$formColor: #757575;